<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/assets/css/base.css" th:href="@{/assets/css/base.css}" />
    <link href="../../static/assets/css/base.css" th:href="@{/assets/css/base.css}" rel="stylesheet"/>
    <link href="../../static/assets/css/page.css" th:href="@{/assets/css/page.css}" rel="stylesheet"/>
</head>
<body>
<footer th:fragment="footer" class="footer" role="contentInfo">
    <div class="container">
        <!--<p class="legal"><small>&copy; 2017 timeyang. All Rights Reserved.</small></p>-->
    </div>
</footer>
</body>
</html>